body,h1,h2,h3,h4,h5,h6 {
  font-family: 'Amatic SC', cursive;
  font-size: 28px;
}
h1,button {
  font-family: 'Cookie', cursive;
  font-size: 60px;
}
.fa-cloud{
  font-size:200px;
  color: pink;
}
.w3-bar{
  font-family: 'Comfortaa', cursive;
}

.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.card-title{
  font-family: 'Cookie', cursive;
}
.card{
  background-color: pink;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 600px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    background: rgb(18, 19, 18);
    width: 100px;
    height: 100px;
    margin: 0 15px;
}
h3{
    text-align: center;
    padding-top: 2px;
    color: #59de66;
    font-size: 25px;
    font-family: 'Limelight', cursive;

}
.box {
    text-align: center;
    font-weight: 800;
    margin-bottom: 15px;
    color: red;
}
.christmas{
  font-family: 'Limelight', cursive;

}
body{
  background-image: url(https://lh3.googleusercontent.com/proxy/6RCV9AeD7b0f6mCIsNdS8SHHu6yCthkSxPOf5uvs0QYZXQA8kHp_mw4Qc6s3zgLvYx-pK_hgBnMHRrlC2-DkkFUX-YowvA3wZgM);
}
