body,h1,h2,h3,h4,h5,h6 {
  font-family: 'Amatic SC', cursive;
  font-size: 28px;
}
h1,button {
  font-family: 'Cookie', cursive;
  font-size: 60px;
}
.fa-cloud{
  font-size:200px;
  color: pink;
}
.w3-bar{
  font-family: 'Comfortaa', cursive;
}

.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.card-title{
  font-family: 'Cookie', cursive;
}
.card{
  background-color: pink;
}
